*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
    list-style:none;
}
#cover{
	width: 100%;
	height: 170px;
	border-style : solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color: #ff4d04;
	background-color: white;
}
.header{
	margin: 0 auto;
	width: 1180px;
	height: 42px;
	
}
.a1{
	
	padding-top: 8px;
}
.qq{
	padding-left: 460px;
	margin-top: -13px;
}
.weixin{
	padding-left: 495px;
	margin-top: -22px;
}
.weibo{
	padding-left: 532px;
	margin-top: -24px;
}
.a2{
	padding-left: 571px;
	margin-top: -25px;
}
.xiaoxi{
	padding-left: 650px;
	margin-top: -22px;
}
.dingdan{
	padding-left: 705px;
	margin-top: -19px;
}
.a3{
	padding-left: 790px;
	margin-top: -21px;
}
.a4{
	padding-left: 860px;
	margin-top: -21px;
}
.phone{
	padding-left: 925px;
	margin-top: -21px;
}
.a5{
	padding-left: 990px;
	margin-top: -21px;
}
.a6{
	padding-left: 1040px;
	margin-top: -21px;
}
.gouwuche{
	padding-left: 1100px;
	margin-top: -21px;
}
.mid{
	margin: 0 auto;
	width: 1180px;
	height: 90px;
}
.sousuo{
	width: 580px;
	height: 37px;
	margin-top: -46px;
	margin-left: 250px;
	border-width: 2px;
	border-style: solid;
	border-color: #fe6c00;
}
.small{
	width: 80px;
	height: 37px;
	margin-left: 500px;
	margin-top: -28px;
}
.erji{
	width: 85px;
	height: 37px;
	margin-left: 920px;
	margin-top: -37px;
	border-width: 1px;
	border-style: dashed;
}
.xinxi{
	width: 85px;
	height: 37px;
	margin-left: 1006px;
	margin-top: -39px;
	border-width: 1px;
	border-style: dashed;
}
.changjian{
	width: 86px;
	height: 38px;
	margin-left: 1092px;
	margin-top: -39px;
	background-color: #ff4d04;
}
.ai{
	margin-top: 10px;
}
.hh{
	margin-top: -19px;
	margin-left: 15px;
	font-size: 14px;
	color: white;
}
#btn1{
	width: 80px;
	height: 37px;
	background-color:  #fe6c00;
	font-size: 15px;
	color: white;
	border: none;
}
.b1{
	margin-top: 6px;
}
/*.b2{
	margin-top: 6px;
}*/
.zi{
	width: 580px;
	height: 25px;
	margin-top: -1px;
	margin-left: 250px;
}
.zi a{
	float:left;
	font-size:11px;
	color:#fe6c00;
	font-weight: lighter;
	margin-left: 10px;
	margin-top: 8px;
}
.zi b{
	float:left;
	font-weight: lighter;
	margin-left: 10px;
	font-size: 11px;
	margin-top: 8px;
}
.zi c{
	float:left;
	font-size:11px;
	font-weight: lighter;
	margin-left: 10px;
	margin-top: 8px;
}
.zi d{
	float:left;
	font-size:11px;
	color:#abbee6;
	font-weight: lighter;
	margin-left: 10px;
	margin-top: 8px;
}
.zi e{
	float:left;
	font-size:11px;
	color:#fe6c00;
	font-weight: lighter;
	margin-top: 8px;
}
.fenlei1{
	width: 100%;
	height: 38px;
	background-color: #000000;
}
.fenlei3{
	margin: 0 auto;
	width: 1180px;
	height: 38px;
}
.fenlei{
	
	width: 1000px;
	height: 38px;
}
.fenlei a{
	float:left;
	width:105px;
	height:28px;
	font-size:13px;
	padding-top:12px;
	padding-left: 15px;
	color: white;
	text-decoration: none;
}
.fenlei2{
	width:180px;
	height:38px;
	margin-left: 1000px;
	
}
.fenlei a:hover{
	background-color:#fe0d4a;
}
.second a{
	background-color:#fe0d4a;
	color: white;
	margin-left: -290px;
}
.haqi a{
	
	color: white;
	margin-left: -190px;
}
.haqi1 a{
	
	color: white;
	margin-left: -100px;
}
.xiaode{
	margin-left: 30px;
}
.c1{
	margin-top: -2px;
	margin-left: 6px;
}
.xiaode1{
	margin-left: 30px;
}
.c2{
	margin-top: -2px;
	margin-left: 6px;
}
.below{
	width: 100%;
	height: 1122px;
	background-color: #f8f7f6;
}
.centre{
	margin: 0 auto;
	width: 1180px;
	height: 1085px;
}
.chang{
	width: 1180px;
	height: 38px;
}
.chang a{
	font-size: 13px;
	text-decoration: none;
	margin-left: -880px;
	color: black;
}
.last{
	width: 1180px;
	height: 347px;
	margin-top: -1px;
	background-color: #ffffff;
}
.heng{
	width: 1180px;
	height: 185px;
}
.shangbiao{
	width: 175px;
	height: 185px;
	background-color: #f8f7f6;
}
.erweima{
	width: 165px;
	height: 185px;
	margin-left: 1015px;
	margin-top: -185px;
}
.tiao{
	margin-top: 18px;
}
.more1{
	width: 192px;
	height: 185px;
	margin-left: 175px;
	margin-top: -215px;
}
.wa1{
	line-height: 31px;
	margin-left: 62px;
	padding-top: 20px;
}
.wa1 a{
	text-decoration: none;
    color: black;
    margin-top: 30px;
}
.baby1{
	font-size: 16px;
	margin-top: 30px;
}
.baby2{
	font-size: 11px;
	color: #666560;
}
.more2{
	width: 133px;
	height: 185px;
	margin-left: 367px;
	margin-top: -185px;
}
.wa2{
	line-height: 31px;
	margin-top: 53px;
}
.wa2 a{
	text-decoration: none;
    color: black;
    margin-top: 30px;
}
.more3{
	width: 133px;
	height: 185px;
	margin-left: 500px;
	margin-top: -238px;
}
.wa3{
	line-height: 31px;
	margin-top: 53px;
}
.wa3 a{
	text-decoration: none;
    color: black;
    margin-top: 30px;
}
.more4{
	width: 135px;
	height: 185px;
	margin-left: 635px;
	margin-top: -238px;
}
.wa4{
	line-height: 31px;
	margin-top: 53px;
}
.wa4 a{
	text-decoration: none;
    color: black;
    margin-top: 30px;
}
.more5{
	width: 130px;
	height: 185px;
	margin-left: 770px;
	margin-top: -238px;
}
.wa5{
	line-height: 31px;
	margin-top: 53px;
}
.wa5 a{
	text-decoration: none;
    color: black;
    margin-top: 30px;
}
.more6{
	width: 115px;
	height: 185px;
	margin-left: 900px;
	margin-top: -238px;
}
.wa6{
	line-height: 31px;
	margin-top: 53px;
}
.wa6 a{
	text-decoration: none;
    color: black;
    margin-top: 30px;
}
.kkk{
	width: 1180px;
	height: 162px;
}
.qie{
	width: 1180px;
	height: 40px;
}
.qie1{
	width: 680px;
	height: 40px;
	margin-left: 250px;
}
.qie a{
	float:left;
	font-size:11px;
	color: #656475;
	font-weight: lighter;
	margin-left: 13px;
	margin-top: 13px;
	text-decoration: none;
}
.qie3{
	width: 1180px;
	height: 63px;
}
.yang{
	font-size: 11px;
	color: #c4a391;
}
.yang li{
	text-align: center;
}
.okk{
	width: 1180px;
	height: 59px;
}
.okk1{
	width: 800px;
	height: 59px;
	margin-left: 200px;
}
.okk2{
	float: left;
}
.box{
	width: 1180px;
	height: 632px;
	margin: 0 auto;
}
.box1{
	width: 450px;
	height: 632px;
	margin-left: 0px;
	float: left;
	background-color: #ffffff;
}
.box2{
	width: 410px;
	height: 410px;
	float: left;
	border: 1px solid #d0cdc7;
	margin-top: 20px;
	margin-left: 20px;

}
.box2>img{
	width: 410px;
	height: 410px;
	float: left;
}
.box3{
	width: 410px;
	height: 60px;
	float: left;
	margin-top: 24px;
	margin-left: 20px;
}
.box4{
	height: 60px;
	width: 26px;
	float: left;
}
.cc1{
	height: 60px;
	width: 26px;
	float: left;
}
.box5{
	height: 60px;
	width: 60px;
	float: left;
	border: 1px solid #ff9003;
}
.cc2{
	height: 60px;
	width: 60px;
	float: left;
}
.box6{
	height: 60px;
	width: 60px;
	float: left;
	border: 1px solid #ffffff;
}
.cc3{
	height: 60px;
	width: 60px;
	float: left;
}
.box7{
	height: 60px;
	width: 26px;
	float: left;
	margin-left: 234px;
}
.cc4{
	height: 60px;
	width: 26px;
	float: left;
}
.midbox{
	width: 500px;
	height: 632px;
	background-color: #ffffff;
	float: left;
}
.box8{
	width: 500px;
	height: 20px;
	font-size: 15px;
	float: left;
	margin-top:25px;
	margin-left: 20px;
}
.box9{
	width: 469px;
	height: 35px;
	font-size: 12px;
	float: left;
	color: #676660;
	margin-top: 15px;
	margin-left: 20px;
}
.box10{
	width: 300px;
	height: 16px;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}
.pp1{
	font-size: 12px;
	float: left;
}
.pp2{
	font-size: 15px;
	float: left;
	color: #ff0000;
	margin-left: 56px;
}
.pp3{
	font-size: 12px;
	float: left;
	text-decoration: line-through;
	margin-left: 14px;
	margin-top: 2px;
}
.box11{
	width: 500px;
	height: 101px;
	float: left;
	margin-top: 18px;
}
.box12{
	width: 500px;
	height: 45px;
	float: left;
	margin-left: 27px;
}
.pp4{
	float: left;
	font-size: 14px;
}
.pp5{
	float: left;
	width: 62px;
	height: 31px;
	margin-left: 28px;
	border-style : solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: #ff0853;
}
.pp5>p{
	font-size: 12px;
	float: left;
	margin-left: 13px;
	margin-top: 8px;
}
.pp5>img{
	margin-top: 19px;
}
.pp6{
	float: left;
	width: 62px;
	height: 31px;
}
.pp6>p{
	font-size: 12px;
	float: left;
	margin-left: 13px;
	margin-top: 8px;
}
.pp6>img{
	margin-top: 18px;
}
.box13{
	width: 500px;
	height: 30px;
	float: left;
	margin-left: 27px;
}
.shu1{
	width: 30px;
	height: 15px;
	float: left;
}
.shu1>p{
	width: 30px;
	height: 15px;
	font-size: 13px;
	margin-top: 6px;
}
.shu2{
	width: 28px;
	height: 30px;
	float: left;
	border: 1px solid #aca7a2;
	margin-left: 63px;
}
.shu2>p{
	text-align: center;
	margin-top: 4px;
}
.shu3{
	width: 52px;
	height: 30px;
	float: left;
	border: 1px solid #aca7a2;
}
.shu3>p{
	text-align: center;
	margin-top: 4px;
}
.shu4{
	width: 28px;
	height: 30px;
	float: left;
	border: 1px solid #aca7a2;
}
.shu4>p{
	text-align: center;
	margin-top: 4px;
}
.shu5{
	width: 74px;
	height: 12px;
	float: left;
	margin-left: 26px;
	margin-top: 6px;
}
.shu5>p{
	font-size: 13px;
}
.box14{
	width: 500px;
	height: 47px;
	float: left;
	margin-top: 3px;
}
.contect27>img{
	float: left;
}
.box15{
	width: 500px;
	height: 20px;
	float: left;
}
.xuanze{
	font-size: 13px;
	float: left;
	margin-left: 110px;
}
.gaibian{
	font-size: 15px;
	float: left;
	color: #ff9003;
	margin-left: 12px;
}
.box16{
	width: 500px;
	height: 43px;
	float: left;
	margin-top: 20px;
	margin-left: 27px;
}
.con1{
	width: 151px;
	height: 43px;
	float: left;
	background-color: #ffffff;
	color: #ff0754;
	border: 2px solid #ff0754;
	font-size: 18px;
	border-radius: 5px;
}
.con2{
	width: 151px;
	height: 43px;
	float: left;
	background-color: #ff0754;
	color: #ffffff;
	border: 2px solid #ff0754;
	font-size: 18px;
	border-radius: 5px;
	margin-left: 24px;
}
.changtiao{
	width: 230px;
	height: 632px;
	float: left;
}
.changtiao>img{
	width: 160px;
	float: left;
	margin-left: 20px;
}

/*放大图*/
#img1{
	float:left;
	position:absolute;
}
#slider {
    width: 200px;
    height: 200px;
    background: #9a9791;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
    display: none;
}
#img2 {
	float:left;
    position: relative;
    left: 410px;
    top: 0px;
    display: none;
    width: 400px;
    height: 408px;
    overflow: hidden;
    border:1px solid #d0cdc7;
    background-color: #ffffff;
}
#Aimg {
	float:left;
    width:800px;
    height:816px;
    position: absolute;
    left: 0;
    top: 0;
}


/*加入购物车*/
.jiagou{
	width: 100%;
	height: 1400px;
	position: absolute;
	background-color: #dedcd8;
	z-index: 100;
	opacity: 0.9;
	top: 0px;
	left: 0;
	display: none;
}

.jg{
	width: 400px;
	height: 230px;
	margin: 0 auto;
	background-color: #ffffff;
	opacity: 1;
	position: fixed;
	top: 250px;
	left: 500px;
	z-index: 200;
	display: none;
}

.jg1{
	width: 400px;
	height: 230px;
	float: left;
	opacity: 1;
}
.jg11{
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 375px;
	margin-top: 8px;
}
.jg1>p{
	font-size: 16px;
	float: left;
}

.jg12{
	float: left;
	margin-top: 10px;
	width: 400px;
	height: 92px;
}
.jg12>img{
	float: left;
}
.jg13{
	width: 400px;
	height: 40px;
	float: left;
	margin-left: 32px;
	margin-top: 25px;
}
.jg131{
	width: 151px;
	height: 40px;
	float: left;
}
.jg131>button{
	width: 151px;
	height: 40px;
	float: left;
	font-size: 16px;
	color: #ff0754;
	background-color: #ffffff;
	border: 2px solid #ff0754;
	border-radius: 5px;
}
.jg132{
	width: 153px;
	height: 40px;
	float: left;
	margin-left: 26px;
}
.jg132>button{
	width: 153px;
	height: 40px;
	float: left;
	font-size: 16px;
	color: #ffffff;
	background-color: #ff0754;
	border: 2px solid #ff0754;
	border-radius: 5px;
}

.tjgw0{
	width: 100%;
	height: 1400px;
	position: absolute;
	background-color: #dedcd8;
	z-index: 100;
	opacity: 0.7;
	top: 0px;
	left: 0;
}
.tjgw1{
	width: 400px;
	height: 230px;
	margin: 0 auto;
	background-color: #ffffff;
	opacity: 1;
	position: fixed;
	top: 300px;
	left: 800px;
	z-index: 200;
}
.zz{
	width: 100%
	height: 109px;
	background-color: #f6f5f4;
}
.aiz{
	width: 1180px;
	height: 109px;
	margin: 0 auto;
}
.aiz>img{
	width: 1180px;
	height: 109px;
	float: left;
}